<div class="container">
	<div class="hero-unit">

		<h1>Hello!</h1>
		<h3>Welcome to WorthlessCheese.com</h3>
		<p>Home of Brian Beckett - programmer, guitarist and all round generally rad dude</p>

	</div>

	<div class="row-fluid">
		<div class="span4 github-summary"><h3 class="text-center">GitHub Activity</h3></div>
		<div class="span4 blog-summary"><h3 class="text-center">Blog Posts</h3></div>
		<div class="span4 stackoverflow-summary"><h3 class="text-center">Stack Overflow</h3></div>
	</div>
</div>
